html,
body,
#goodthing
 {
	box-sizing: border-box;
  	width: 100%;
  	height: 100%;
}

#ar-container {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

/* .stpLabelHeading {
	color: black;
	font-size: 15px;
	line-height: 20px;
	width: 150px;
	height: 30px;
	outline: 1px solid white;
	background-color: rgba(255,255,255,0.8);
	text-align: center;
	margin-left: -75px;
	padding: 5px;
	margin-bottom: 5px;
}
.stpLabelData {
	color: black;
	font-size: 15px;
	line-height: 20px;
	width: 150px;
	height: 115px;
	outline: 1px solid white;
	background-color: rgba(255,255,255,0.8);
	text-align: left;
	margin-left: -75px;
	padding: 5px;
} */